* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
main{
    margin-top: 100px;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150PX;
    height: 90vh;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    background: #fff;
    width: 80%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image-container {
    width: 60%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.form-container {
    width: 40%;;
    padding: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-link {
    float: right;
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group input {
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.input-group i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 14px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0056b3;
}
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.title-container h2 {
    font-size: 24px;
    margin: 0;
}

.login-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    font-weight: normal;
    margin-top: 10px;
}

.messageError{
    font-size: 10px;
    color: red;
}
