@font-face {
    font-family: 'Monsterrat-Light';
    src: url("Font/Montserrat-Light.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Monsterrat-Bold';
    src: url("Font/Montserrat-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Monsterrat-Medium';
    src: url("Font/Montserrat-Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Monsterrat-Regular';
    src: url("Font/Montserrat-Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Css header*/
.dau-tieu-de{
    width: 100%;
    height: 40px;
    background-color: black;
}
.dau-tieu-de a{
    color: white;
}
.tieu-de-phan-dau {
    color: white;
    text-align: center;
    padding: 11px;
    font-family: 'Monsterrat-Light';
}
.list-tieu-de{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.search-tren-tieu-de{
    flex-grow: 1;
    margin: 0 20px;
    position: relative;
}
.tim-kiem{
    width: 100%;
    margin-top: 22px;
    padding: 10px 40px 10px 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.fa-magnifying-glass{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #000;
}
.icon-cart{
    display: flex;
    align-items: center;
    margin-left: 26px;
    margin-right: 5px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.icon-user{
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.icon-user a:visited{
    color: black;
}
.icon-cart a:visited{
    color: black;
}
/*Css phần menu header*/
.menu-tieu-de{
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.menu-tieu-de a{
    color: black;
    font-family: 'Monsterrat-Regular',sans-serif;
    /*Đặt các liên kết nằm ngang cạnh nhau.*/
    float: left;
    /*Đặt các liên kết thành khối để có thể áp dụng padding.*/
    display: block;
    /*text nằm giữa ô  */
    text-align: center;
    /*Thêm khoảng cách bên trong liên kết (14px trên dưới, 20px trái phải).*/
    padding: 14px 20px;
    /*bỏ gạch chân chữ*/
    text-decoration: none;
}
.menu-tieu-de a:hover{
    background-color: snow;
}
hr{
    border-color: #F1F1F1;
}
.header-home{
    position: fixed; /* Giữ thanh tiêu đề ở vị trí cố định */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
/*Main*/

.san-pham-noi-bat{
    margin-top: 190px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    /*Dùng flexbox - đang có 2 div thì sẽ có 2 item trong flexbox*/
    display: flex;
    justify-content: space-between; /* Đưa 2 phần tử trong flex box sang 2 bên */
}
.tieu-de-san-pham-noi-bat{
    font-family: 'Monsterrat-Bold';
}
.nut-kham-pha{
    background-color: transparent;
    border: 1px solid #cccccc;
    padding: 10px 20px;
    /*Thẻ bo góc*/
    border-radius: 5px;
    /*Đưa chuột vào hiện tay*/
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-family: Monsterrat-Light;
}
.nut-kham-pha a{
    color: gray;
    text-decoration: none;
}
.khung-sp-noi-bat {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Monsterrat-Light;
    font-size: 14px;
    margin-top: 10px;
}
.san-pham{
    margin: 0;
    cursor: pointer;
}
.san-pham a:hover{
    background-color: #F1F1F1;
}
.anh-sp-noi-bat{
    width: 249.75px;
    height: 249.75px;
}
.cac-mau-sp-noi-bat{
    display: flex;
    justify-content: center;
    /*margin-left: 80px;*/
    /*margin-right: 80px;*/
}
.ten-san-pham-noi-bat{
    margin-top: 15px;
}
.gia-ban-san-pham-noi-bat{
    margin-top: 15px;
    font-size: 16px;
    color: crimson;
}
.mau-sp-noi-bat{
    width: 12.87px;
    height: 12.87px;
    margin: 5px;
    margin-top: 15px;
}

.workshops-tintuc{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Monsterrat-Bold;
}
.workshops-tintuc a{
    text-decoration: none;
    color: black;
}
.workshop{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.tintuc{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.workshop p{
    margin-top: 5px;
    background-color: #F1F1F1;
    padding: 14px 20px;
}
.tintuc p{
    margin-top: 5px;
    background-color: #F1F1F1;
    padding: 14px 20px;
}
.workshop img{
    width: 100%;
}
.tintuc img{
    width: 100%;
}
/*css footer*/
footer{
    font-family: Monsterrat-Light;
}
.first-footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.left-footer{
    font-size: 12px;
    width: 230px;
    font-family: Monsterrat-Light;
    margin-right: 60px;
}
.text-left-footer{
    padding-left: 12px;
}
.table-footer{
    font-size: 12px;
    width: auto;
    margin-top: 12px;
    font-family: Monsterrat-Light;
}
.table-footer a{
    text-decoration: none;
    color: black;
}
.right-footer{
    font-size: 12px;
    width: 230px;
    margin-top: 12px;
    font-family: Monsterrat-Light;
}
.icon-social-network-footer a{
    text-decoration: none;
}