<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/Style_css/header_footer.css">
    <link rel="stylesheet" href="../assets/Style_css/ipad.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
          rel="stylesheet">
    <title>TAT Apple - Đại lý uỷ quyền Apple</title>
</head>
<body>
<header class="header-home">
    <div class="dau-tieu-de">
        <p class="tieu-de-phan-dau">‼️Siêu hạ giá. Siêu nhiều ưu đãi. Tìm hiểu thêm về TAT Apple tránh giả mạo <a href="">tại đây.</a></p>
    </div>
    <div class="list-tieu-de">
        <div class="logo-tat-tieude">
            <a href="index.html"><img style="width: 300px" src="../assets/image/Logo.jpg"></a>
        </div>
        <div class="search-tren-tieu-de">
            <input type="text" class="tim-kiem" placeholder="Tìm kiếm sản phẩm tại TAT Apple...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>


        <div class="icon-user">
            <a href="" style="color: black">
                <i class="fa-solid fa-user"></i>
            </a>
            <ul class="header-user">
                <div class="header-user_header">
                    <h3>Xin chào</h3>
                </div>
                <hr/>
                <div class="user-before-login">
                    <li class="header-user_item">
                        <a href="dangnhap.html">Đăng nhập</a>
                    </li>
                    <li class="header-user_item">
                        <a href="dangky.html">Đăng ký</a>
                    </li>
                </div>

            </ul>
            <ul class="header-user">
                <div class="header-user_header">
                    <h3>Xin chào</h3>
                </div>
                <hr/>
                <div class="use-after-login">
                    <li class="header-user_item">
                        <a href="">Profile</a>
                    </li>
                    <li class="header-user_item">
                        <a href="">Đơn hàng</a>
                    </li>
                    <li class="header-user_item">
                        <a href="">Địa chỉ</a>
                    </li>
                    <li class="header-user_item">
                        <a href="">Đăng xuất</a>
                    </li>
                </div>
            </ul>
        </div>


        <div class="icon-cart">
            <a href="shopping-cart.html" style="color: black"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <ul class="menu-tieu-de">
        <li>
            <a href="">iPhone</a>
        </li>
        <li>
            <a href="">iPad</a>
        </li>
        <li>
            <a href="">Apple Watch</a>
        </li>
        <li>
            <a href="">Macbook</a>
        </li>
        <li>
            <a href="">Âm thanh</a>
        </li>
        <li>
            <a href="">Phụ kiện</a>
        </li>
        <li>
            <a href="">Tìm hiểu thêm về iPhone</a>
        </li>
    </ul>
    <hr>
</header>
<main style="margin-top: 200px;margin-bottom: 50px; text-align: center">
    <div class="banner" style="">
        <img src="../assets/image/iPad/Banner-iPad.jpeg" style=" height: 60vh"/>
    </div>
    <div class="filter-product" style=" margin-top: 50px">
        <div class="filter-product__title_menu">
            <div class="filter-product__title">Tất cả sản phẩm (8)</div>
        </div>
        <div class="filter-product__menu">
            <div class="filter-product__menu_item">
                    <span>
                        <span class="icon-container">
                            Brand
                            <ul class="filter-product__menu_item_list_header scrollable-list">
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Apple</p>
                                    </div>
                                </li>
                            </ul>
                            <i class="fa-solid fa-chevron-down icon first" style="margin-left: 2px"></i>
                            <i class="fa-solid fa-chevron-up icon second"></i>
                        </span>
                    </span>
                    <span>
                        <span class="icon-container">
                            Conectivity
                            <ul class="filter-product__menu_item_list_header scrollable-list">
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Wifi</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Wifi + Cellular</p>
                                    </div>
                                </li>
                            </ul>
                            <i class="fa-solid fa-chevron-down icon first" style="margin-left: 2px"></i>
                            <i class="fa-solid fa-chevron-up icon second"></i>
                        </span>
                    </span>
                    <span>
                        <span class="icon-container">
                            Size
                            <ul class="filter-product__menu_item_list_header scrollable-list">
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">64GB</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Wifi + Cellular</p>
                                    </div>
                                </li>
                            </ul>
                            <i class="fa-solid fa-chevron-down icon first" style="margin-left: 2px"></i>
                            <i class="fa-solid fa-chevron-up icon second"></i>
                        </span>
                    </span>
                    <span>
                        <span class="icon-container">
                            Collection
                            <ul class="filter-product__menu_item_list_header scrollable-list">
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">iPad Air M2</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">iPad Pro 14</p>
                                    </div>
                                </li>
                            </ul>
                            <i class="fa-solid fa-chevron-down icon first" style="margin-left: 2px"></i>
                            <i class="fa-solid fa-chevron-up icon second"></i>
                        </span>
                    </span>
                    <span>
                        <span class="icon-container">
                            Color
                            <ul class="filter-product__menu_item_list_header scrollable-list">
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Blue</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Purple</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Spray Grey</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Starlight</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Silver</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Space Black</p>
                                    </div>
                                </li>
                            </ul>
                            <i class="fa-solid fa-chevron-down icon first" style="margin-left: 2px"></i>
                            <i class="fa-solid fa-chevron-up icon second"></i>
                        </span>
                    </span>
                <span>
                        <span class="icon-container">
                            Campacity
                            <ul class="filter-product__menu_item_list_header scrollable-list">
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">64GB</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">128GB</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">256GB</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">512GB</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">1TB</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">2TB</p>
                                    </div>
                                </li>
                            </ul>
                            <i class="fa-solid fa-chevron-down icon first" style="margin-left: 2px"></i>
                            <i class="fa-solid fa-chevron-up icon second"></i>
                        </span>
                    </span>
                <span>
                        <span class="icon-container">
                            Stock
                            <ul class="filter-product__menu_item_list_header scrollable-list">
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">Out of Stock</p>
                                    </div>
                                </li>
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="filter-product__menu_item_list_item_icon">
                                        <input type="checkbox" name="" value="">
                                        <p style="margin-left: 7px; color: grey">In Stock</p>
                                    </div>
                                </li>
                            </ul>
                            <i class="fa-solid fa-chevron-down icon first" style="margin-left: 2px"></i>
                            <i class="fa-solid fa-chevron-up icon second"></i>
                        </span>
                    </span>
                <span>
                        <span class="icon-container">
                            Price
                            <ul class="filter-product__menu_item_list_header scrollable-list" style="width: 150px">
                                <li class="filter-product__menu_item_list_item" style="list-style-type: none">
                                    <div class="price-slide-container" style="margin: 10px">
                                        <input type="range" min="0" max="40990000" value="40990000" class="slider" id="priceRange" oninput="this.nextElementSibling.value = this.value">
                                        <output class="value-label">40990000</output> <u>đ</u>
                                    </div>
                                </li>
                            </ul>
                            <i class="fa-solid fa-chevron-down icon first" style="margin-left: 3px"></i>
                            <i class="fa-solid fa-chevron-up icon second"></i>
                        </span>
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="all-product-list">
        <div class="all-product-frame">
            <div class="all-product">
                <a href="product.html">
                    <img class="all-product-img" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20+%20Cellular%20M4/Space%20Black/21509453F699D749F7A86200DFA5A326.jpeg">
                    <p class="all-product-name">iPad Pro 13-inch WiFi + Cellular 14</p>
                    <p class="all-product-price">43,499,000 <u>đ</u></p>
                    <div class="all-product-color">
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20+%20Cellular%20M4/Space%20Black/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20+%20Cellular%20M4/Silver/color.png">
                        </span>
                    </div>
                </a>
            </div>
            <div class="all-product">
                <a href="product.html">
                    <img class="all-product-img" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2011-inch%20WiFi%20+%20Cellular%20M4/Space%20Black/6DDCDEC76273BD47FBC21461E337B00C.jpeg">
                    <p class="all-product-name">iPad Pro 13-inch WiFi + Cellular 14</p>
                    <p class="all-product-price">34,499,000 <u>đ</u></p>
                    <div class="all-product-color">
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20+%20Cellular%20M4/Space%20Black/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20+%20Cellular%20M4/Silver/color.png">
                        </span>
                    </div>
                </a>
            </div>
            <div class="all-product">
                <a href="product.html">
                    <img class="all-product-img" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20M4/Silver/83ED7A667F3BF4DD41DAF90DFBFA2BC5.jpeg">
                    <p class="all-product-name">iPad Pro 13-inch WiFi 14</p>
                    <p class="all-product-price">27,490,000 <u>đ</u></p>
                    <div class="all-product-color">
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20+%20Cellular%20M4/Silver/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20+%20Cellular%20M4/Space%20Black/color.png">
                        </span>
                    </div>
                </a>
            </div>
            <div class="all-product">
                <a href="product.html">
                    <img class="all-product-img" src="../assets/image/iPad/iPad%20Pro%2014/Pad%20Pro%2011-inch%20WiFi%20M4/Silver/BA2102793A1B409F5D6AFE718AEF8451.jpeg">
                    <p class="all-product-name">iPad Pro 11-inch WiFi 14</p>
                    <p class="all-product-price">27,490,000 <u>đ</u></p>
                    <div class="all-product-color">
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20+%20Cellular%20M4/Silver/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad%20Pro%2014/iPad%20Pro%2013-inch%20WiFi%20+%20Cellular%20M4/Space%20Black/color.png">
                        </span>
                    </div>
                </a>
            </div>
            <div class="all-product">
                <a href="product.html">
                    <img class="all-product-img" src="../assets/image/iPad/iPad%20Air%20M2/iPad%20Air%2011-inch%20Wi-Fi%20+%20Cellular%20M2/Purple/44B97D06BA7ECA128A0B3F20280BFF75.jpeg">
                    <p class="all-product-name">iPad Air 11inch WiFi + Cellular M2</p>
                    <p class="all-product-price">20,999,000 <u>đ</u></p>
                    <div class="all-product-color">
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Purple/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Starlight/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Blue/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Space%20Grey/color.png">
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="all-product-list">
        <div class="all-product-frame">
            <div class="all-product">
                <a href="product.html">
                    <img class="all-product-img" src="../assets/image/iPad/iPad%20Air%20M2/iPad%20Air%2013-inch%20Wi-Fi%20+%20Cellular%20M2/Blue/EADFBD15141F542B13A5801761F2E6BC.jpeg">
                    <p class="all-product-name">iPad Air 13inch WiFi + Cellular M2</p>
                    <p class="all-product-price">26,499,000 <u>đ</u></p>
                    <div class="all-product-color">
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Purple/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Starlight/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Blue/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Space%20Grey/color.png">
                        </span>
                    </div>
                </a>
            </div>
            <div class="all-product">
                <a href="product.html">
                    <img class="all-product-img" src="../assets/image/iPad/iPad%20Air%20M2/iPad%20Air%2013-inch%20Wi-Fi%20%20M2/Starlight/2AA5DA61B28E85D02EC73EA2F23AC12D.jpeg">
                    <p class="all-product-name">iPad Air 13inch WiFi M2</p>
                    <p class="all-product-price">20,999,000 <u>đ</u></p>
                    <div class="all-product-color">
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Purple/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Starlight/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Blue/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Space%20Grey/color.png">
                        </span>
                    </div>
                </a>
            </div>
            <div class="all-product">
                <a href="product.html">
                    <img class="all-product-img" src="../assets/image/iPad/iPad%20Air%20M2/Pad%20Air%2011-inch%20Wi-Fi%20M2/Space%20Grey/EDA89E03C8CBC5C37FD7C5D2598ED4C8.jpeg">
                    <p class="all-product-name">iPad Air 11inch WiFi + Cellular M2</p>
                    <p class="all-product-price">16,490,000 <u>đ</u></p>
                    <div class="all-product-color">
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Purple/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Starlight/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Blue/color.png">
                        </span>
                        <span>
                            <img class ="all-product-color_icon" src="../assets/image/iPad/iPad Air M2/iPad Air 11-inch Wi-Fi + Cellular M2/Space%20Grey/color.png">
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<hr/>
<footer style="width: auto; height: 450px;">
    <div class="first-footer">
        <div class="left-footer">
            <img src="../assets/image/Logo.jpg" style="width: 250px">
            <div class="text-left-footer">
                <p>TAT Apple là đại lý bán lẻ ủy quyền của Apple tại Việt Nam,được phát triển bởi
                    tập đoàn MAP danh tiếng đến từ Indonesia.
                    Cam kết đem đến trải nghiệm tốt nhất về sản phẩm và dịch vụ tiêu chuẩn Apple cho
                    thị trường Việt Nam.</p>
                <br />
                <h3 style="font-family: Monsterrat-Regular">CÔNG TY TNHH MAPPLE MITRA ADIPERKASA
                    VIỆT NAM</h3>
                <br />
                <p>&copy 2021.GPDKKD số 0316998320 do Sở Kế hoạch Đầu tư T.HCM cấp ngày 27/10/2021.
                </p>
                <br />
                <p>Tầng 9, Tòa nhà Lim Tower 3, 29A Nguyễn Đình Chiểu, Phường Đa Kao, Quận 1,
                    TP.HCM.</p>
                <br />
                <p><span style="font-family: Monsterrat-Regular">Hotline: 1900 4532
                        </span><span>(9:00-17:00, Thứ 2-Thứ 6)</span></p>
                <br />
                <p>Email: tatapplestrore@gmail.com</p>
            </div>
        </div>
        <div class="footer-center">
            <table class="table-footer">
                <tr style="font-family: Monsterrat-Regular">
                    <th
                            style="padding-right: 100px; padding-bottom: 10px; text-align: left; font-size: 15px">
                        Sản phẩm</th>
                    <th
                            style="padding-right: 100px; padding-bottom: 10px; text-align: left; font-size: 15px">
                        Thông tin</th>
                    <th
                            style="padding-right: 100px; padding-bottom: 10px; text-align: left; font-size: 15px">
                        Cửa hàng TAT Apple</th>
                </tr>
                <tr>
                    <td style="padding-right: 100px; padding-bottom: 10px">
                        <a href="">iPhone</a>
                    </td>
                    <td style="padding-right: 100px; padding-bottom: 10px">
                        <a href="">Về TAT Apple</a>
                    </td>
                    <td style="padding-bottom: 10px">
                        <a href="https://maps.app.goo.gl/zW9hdk8SBekPagWBA">Vị trí cửa hàng</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 100px; padding-bottom: 10px">
                        <a href="">iPad</a>
                    </td>
                    <td style="padding-right: 82px; padding-bottom: 10px">
                        <a href="">Chính sách bảo hành</a>
                    </td>
                    <td style="padding-bottom: 10px">
                        <a href="">Liên hệ TAT Apple</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 100px; padding-bottom: 10px">
                        <a href="">Apple Watch</a>
                    </td>
                    <td style="padding-right: 82px; padding-bottom: 10px">
                        <a href="">Chính sách giao hàng</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 100px; padding-bottom: 10px">
                        <a href="">Macbook</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 100px; padding-bottom: 10px"><a href="">Âm thanh</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 100px; padding-bottom: 10px"><a href="">Phụ kiện</a>
                    </td>
                </tr>
            </table>
            <div class="payment-method" style="margin-top: 100px">
                <h3 style="font-family: Monsterrat-Regular; text-align: left; font-size: 15px">
                    Phương thức thanh toán</h3>
                <br />
                <p style="font-family: Monsterrat-Light; font-size: 12px">Chấp nhận thanh toán bằng
                    các app điện tử và thẻ:</p>
                <img src="../assets/image/Pay.jpg" style="width: 115px; margin-top: 10px" alt="">
            </div>
        </div>
        <div class="right-footer">
            <h3 style="font-family: Monsterrat-Regular; text-align: left; font-size: 15px">Nhận
                thông báo từ TAT Apple</h3>
            <br />
            <p>Đăng ký để nhận các ưu đãi độc quyền và cập nhật tin tức mới nhất từ TAT Apple!</p>
            <br />
            <p>Kết nối với TAT Apple:</p>
            <div class="icon-social-network-footer">
                <!-- <%-- chèn link ig --%> -->
                <a href="https://www.instagram.com/phanthang_04/">
                    <img src="https://www.digibox.com.vn/_nuxt/img/instagram.50f26cf.png"
                         alt="ig">
                </a>
                <!-- <%-- chèn link fb --%> -->
                <a href="https://www.facebook.com/tn26052022/">
                    <img src="../assets/image/logo-fb-footer.png" alt="fb">
                </a>
            </div>
            <img src="../assets/image/Da-thong-bao-bo-ct.png" style="width: 150px">
        </div>
    </div>
</footer>
</body>
</html>