<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/Style_css/header_footer.css">
    <link rel="stylesheet" href="../assets/Style_css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
          rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header-home">
    <div class="dau-tieu-de">
        <p class="tieu-de-phan-dau">‼️Siêu hạ giá. Siêu nhiều ưu đãi. Tìm hiểu thêm về TAT Apple tránh giả mạo <a href="">tại đây.</a></p>
    </div>
    <div class="list-tieu-de">
        <div class="logo-tat-tieude">
            <a href="index.html"><img style="width: 300px" src="../assets/image/Logo.jpg"></a>
        </div>
        <div class="search-tren-tieu-de">
            <input type="text" class="tim-kiem" placeholder="Tìm kiếm sản phẩm tại TAT Apple...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>


        <div class="icon-user">
            <a style="color: black">
                <i class="fa-solid fa-user"></i>
            </a>
            <ul class="header-user">
                <div class="header-user_header">
                    <h3>Xin chào</h3>
                </div>
                <hr/>
                <div class="user-before-login">
                    <li class="header-user_item">
                        <a href="dangnhap.html">Đăng nhập</a>
                    </li>
                    <li class="header-user_item">
                        <a href="dangky.html">Đăng ký</a>
                    </li>
                </div>

            </ul>
            <ul class="header-user">
                <div class="header-user_header">
                    <h3>Xin chào</h3>
                </div>
                <hr/>
                <div class="use-after-login">
                    <li class="header-user_item">
                        <a href="">Profile</a>
                    </li>
                    <li class="header-user_item">
                        <a href="">Đơn hàng</a>
                    </li>
                    <li class="header-user_item">
                        <a href="">Địa chỉ</a>
                    </li>
                    <li class="header-user_item">
                        <a href="">Đăng xuất</a>
                    </li>
                </div>
            </ul>
        </div>


        <div class="icon-cart">
            <a href="shopping-cart.html" style="color: black"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <ul class="menu-tieu-de">
        <li>
            <a href="iPhone.html">iPhone</a>
        </li>
        <li>
            <a href="">iPad</a>
        </li>
        <li>
            <a href="">Apple Watch</a>
        </li>
        <li>
            <a href="">Macbook</a>
        </li>
        <li>
            <a href="">Âm thanh</a>
        </li>
        <li>
            <a href="">Phụ kiện</a>
        </li>
        <li>
            <a href="">Tìm hiểu thêm về iPhone</a>
        </li>
    </ul>
    <hr>
</header>
    <main style="margin-top: 200px">
        <div class="product-name-price">
            <div class="product-name-price_name">
                <h3>iPhone 16 Pro Max 256GB Natural Titanium</h3>
            </div>
            <div class="product-name-price_price">
                <p>31,490,000 <u>đ</u></p>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="product-container">
                <div class="product-image">
                    <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/Natural%20Titanium/natural-titanium.jpeg" alt="">
                    <span class="product-image-mini">
                        <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/Natural%20Titanium/natural-titanium.jpeg" alt="">
                        <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/Natural%20Titanium/natural-titanium-1.jpeg" alt="">
                        <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/Natural%20Titanium/natural-titanium-2.jpeg" alt="">
                        <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/Natural%20Titanium/natural-titanium-3.jpeg" alt="">
                        <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/Natural%20Titanium/natural-titanium-4.jpeg" alt="">
                        <br/>
                        <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/16promax-shared-1.jpeg" alt="">
                        <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/16promax-shared-2.jpeg" alt="">
                        <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/16promax-shared-3.jpeg" alt="">
                        <img src="../assets/image/iPhone/iPhone16%20series/iPhone%2016%20Pro%20Max/16promax-shared-4.jpeg" alt="">
                    </span>
                </div>
                <div class="product-details">
                    <div class="product-details_name" style="margin-bottom: 30px">
                        <h2>iPhone 16 Pro Max 256GB Natural Titanium</h2>
                    </div>
                    <div class="product-detail_price" style="margin-bottom: 30px; color: crimson; font-size: 17px; font-family: Monsterrat-Regular">
                        <p>31,490,000 <u>đ</u></p>
                    </div>
                    <hr/>
                    <div class="product-details_color">
                        <h4 style="font-family: Monsterrat-Regular">Color</h4>
                        <span class="product-details_color_item">
                                <img src="../assets/image/iPhone/iPhone16 series/iPhone 16 Pro Max/Natural Titanium/natural-titanium-color.png">
                                <img src="../assets/image/iPhone/iPhone16 series/iPhone 16 Pro Max/Black Titanium/black-titanium-color.png">
                                <img src="../assets/image/iPhone/iPhone16 series/iPhone 16 Pro Max/White Titanium/white-titanium-color.png">
                                <img src="../assets/image/iPhone/iPhone16 series/iPhone 16 Pro Max/Desert Titanium/desert-titanium-color.png">
                        </span>
                    </div>
                    <div class="product-details_capacity">
                        <h4 style="font-family: Monsterrat-Regular">Capacity</h4>
                        <span class="product-details_capacity_button">
                                <span class="product-details_capacity_button_item">
                                    256GB
                                </span>
                                <span class="product-details_capacity_button_item">
                                    512GB
                                </span>
                                <span class="product-details_capacity_button_item">
                                    1TB
                                </span>
                        </span>
                    </div>
                    <div class="product-detail_delivery">
                        <span class="product-details_delivery_item">
                            <i class="fa-solid fa-box"></i>
                            <span style="font-family: Monsterrat-Bold">Giao hàng: </span>
                            <span>Ước tính 3-7 ngày làm việc</span>
                        </span>
                    </div>
                    <div class="product-detail_delivery">
                        <span class="product-details_delivery_item">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <span style="font-family: Monsterrat-Bold">Hàng hoá: </span>
                            <span>Còn hàng</span>
                        </span>
                    </div>
                    <div class="product-add-cart">
                        <button type="button" class="product-add-cart_btn">
                             Thêm vào giỏ hàng
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-discribe" style="margin-top: 50px">
            <div class="container-discribe-box">
                <div class="container-discribe_btn">
                    Mô tả
                </div>
            </div>
            <div class="container-discribe-box">
                <div class="container-discribe_detail">
                    <p>iPhone 16 Pro Max. Sở hữu thiết kế titan tuyệt đẹp. Điều Khiển Camera. 4K Dolby Vision tốc độ 120 fps. Và chip A18 Pro.</p>
                    <h3>Tính năng nổi bật</h3>
                    <p>THIẾT KẾ TITAN TUYỆT ĐẸP ­– iPhone 16 Pro Max có thiết kế titan nhẹ và cứng cáp với màn hình Super Retina XDR 6,9 inch lớn hơn.1
                        Thiết bị bền bỉ tuyệt vời với chất liệu Ceramic Shield thế hệ mới nhất, bền chắc gấp 2 lần mặt kính các điện thoại thông minh khác.</p>
                    <p>NẮM TOÀN QUYỀN ĐIỀU KHIỂN CAMERA – Điều Khiển Camera giúp bạn truy cập nhanh các công cụ camera dễ dàng hơn, như thu phóng hoặc
                        độ sâu trường ảnh, nhờ vậy bạn có thể chụp ảnh hoàn hảo siêu nhanh.</p>
                    <p>QUAY CHỤP ẤN TƯỢNG – Với camera Ultra Wide 48MP tiên tiến hơn, bạn có thể ghi lại những chi tiết đầy mê hoặc trong những tấm ảnh chụp
                        cận cảnh và ảnh chụp góc rộng bao quát. Bạn muốn ảnh chụp sắc nét hơn từ khoảng cách xa hơn? Camera Telephoto 5x giúp bạn dễ dàng làm điều đó.</p>
                    <p>QUAY VIDEO ĐẲNG CẤP PRO – Nâng tầm video bạn quay lên đẳng cấp hoàn toàn mới với 4K Dolby Vision tốc độ 120 fps, nhờ
                        sự hỗ trợ của camera Fusion 48MP, và các micrô chất lượng chuẩn studio để thu âm chất lượng cao hơn. Một studio Pro
                        ngay trong túi bạn.</p>
                    <p>PHONG CÁCH NHIẾP ẢNH – Phong Cách Nhiếp Ảnh thế hệ mới nhất cho phép bạn linh hoạt sáng tạo hơn, nhờ đó bạn có thể biến
                        hóa khiến mỗi bức ảnh đều đậm chất riêng của mình. Và nhờ những tiến bộ trong quy trình xử lý hình ảnh, bạn nay có thể
                        đổi qua đổi lại mọi phong cách, mọi lúc.</p>
                    <p>SỨC MẠNH CỦA A18 PRO – Chip A18 Pro hỗ trợ các tính năng chụp ảnh và quay video tiên tiến như Điều Khiển Camera, đồng
                        thời mang đến hiệu năng đồ họa vượt trội để chơi game AAA.</p>
                    <p>BƯỚC NHẢY VỌT VỀ THỜI LƯỢNG PIN – iPhone 16 Pro Max mang lại hiệu năng tiết kiệm điện đáng kinh ngạc với thời gian
                        xem video lên đến 33 giờ.2 Sạc qua USB-C hoặc gắn vào bộ sạc MagSafe để sạc không dây nhanh hơn.3</p>
                    <p>TÙY CHỈNH IPHONE CỦA BẠN – Với iOS 18, bạn có thể chọn sắc thái màu cho các biểu tượng trên Màn Hình
                        Chính với màu bất kỳ. Tìm ảnh ưa thích nhanh hơn bằng ứng dụng Ảnh được thiết kế mới. Và thêm các hiệu ứng động vui nhộn
                        cho bất kỳ từ, cụm từ hoặc biểu tượng nào trong iMessage.4</p>
                    <p>
                        CÁC TÍNH NĂNG AN TOÀN QUAN TRỌNG – Với tính năng Phát Hiện Va Chạm, iPhone có thể phát hiện va chạm ô tô nghiêm trọng
                        và gọi trợ giúp khi cần kíp.5</p>
                    <h3>Thông báo pháp lý</h3>
                    <p>1Màn hình có các góc bo tròn. Khi tính theo hình chữ nhật, kích thước màn hình theo đường chéo là 6,12 inch (iPhone 16),
                        6,69 inch (iPhone 16 Plus), 6,27 inch (iPhone 16 Pro) hoặc 6,86 inch (iPhone Pro Max). Diện tích hiển thị thực tế nhỏ hơn.</p>
                    <p>2Thời lượng pin khác nhau tùy theo cách sử dụng và cấu hình. Truy cập apple.com/vn/batteries để biết thêm thông tin.</p>
                    <p>3Phụ kiện được bán riêng.</p>
                    <p>4Một số tính năng không khả dụng tại một số quốc gia hoặc khu vực.</p>
                    <p>5iPhone 16 và iPhone 16 Pro có thể phát hiện va chạm ô tô nghiêm trọng và gọi trợ giúp. Yêu cầu kết nối mạng di động hoặc
                        cuộc gọi Wi-Fi.</p>
                    <h3>Thông số kỹ thuật</h3>
                    <p>Truy cập apple.com/vn/iphone/compare để xem cấu hình đầy đủ.</p>
                </div>
            </div>
            <div class="contaier-discribe_img" style="text-align: center">
                <img style="width: 1300px" src="../assets/image/iPhone/iPhone16%20series/Banner-Product-iPhone.jpeg" alt="">
            </div>
        </div>
    </main>
    <hr/>
    <footer style="width: auto; height: 450px;">
        <div class="first-footer">
            <div class="left-footer">
                <img src="../assets/image/Logo.jpg" style="width: 250px">
                <div class="text-left-footer">
                    <p>TAT Apple là đại lý bán lẻ ủy quyền của Apple tại Việt Nam,được phát triển bởi
                        tập đoàn MAP danh tiếng đến từ Indonesia.
                        Cam kết đem đến trải nghiệm tốt nhất về sản phẩm và dịch vụ tiêu chuẩn Apple cho
                        thị trường Việt Nam.</p>
                    <br />
                    <h3 style="font-family: Monsterrat-Regular">CÔNG TY TNHH MAPPLE MITRA ADIPERKASA
                        VIỆT NAM</h3>
                    <br />
                    <p>&copy 2021.GPDKKD số 0316998320 do Sở Kế hoạch Đầu tư T.HCM cấp ngày 27/10/2021.
                    </p>
                    <br />
                    <p>Tầng 9, Tòa nhà Lim Tower 3, 29A Nguyễn Đình Chiểu, Phường Đa Kao, Quận 1,
                        TP.HCM.</p>
                    <br />
                    <p><span style="font-family: Monsterrat-Regular">Hotline: 1900 4532
                        </span><span>(9:00-17:00, Thứ 2-Thứ 6)</span></p>
                    <br />
                    <p>Email: tatapplestrore@gmail.com</p>
                </div>
            </div>
            <div class="footer-center">
                <table class="table-footer">
                    <tr style="font-family: Monsterrat-Regular">
                        <th
                                style="padding-right: 100px; padding-bottom: 10px; text-align: left; font-size: 15px">
                            Sản phẩm</th>
                        <th
                                style="padding-right: 100px; padding-bottom: 10px; text-align: left; font-size: 15px">
                            Thông tin</th>
                        <th
                                style="padding-right: 100px; padding-bottom: 10px; text-align: left; font-size: 15px">
                            Cửa hàng TAT Apple</th>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">iPhone</a>
                        </td>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">Về TAT Apple</a>
                        </td>
                        <td style="padding-bottom: 10px">
                            <a href="https://maps.app.goo.gl/zW9hdk8SBekPagWBA">Vị trí cửa hàng</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">iPad</a>
                        </td>
                        <td style="padding-right: 82px; padding-bottom: 10px">
                            <a href="">Chính sách bảo hành</a>
                        </td>
                        <td style="padding-bottom: 10px">
                            <a href="">Liên hệ TAT Apple</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">Apple Watch</a>
                        </td>
                        <td style="padding-right: 82px; padding-bottom: 10px">
                            <a href="">Chính sách giao hàng</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px">
                            <a href="">Macbook</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px"><a href="">Âm thanh</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 100px; padding-bottom: 10px"><a href="">Phụ kiện</a>
                        </td>
                    </tr>
                </table>
                <div class="payment-method" style="margin-top: 100px">
                    <h3 style="font-family: Monsterrat-Regular; text-align: left; font-size: 15px">
                        Phương thức thanh toán</h3>
                    <br />
                    <p style="font-family: Monsterrat-Light; font-size: 12px">Chấp nhận thanh toán bằng
                        các app điện tử và thẻ:</p>
                    <img src="../assets/image/Pay.jpg" style="width: 115px; margin-top: 10px" alt="">
                </div>
            </div>
            <div class="right-footer">
                <h3 style="font-family: Monsterrat-Regular; text-align: left; font-size: 15px">Nhận
                    thông báo từ TAT Apple</h3>
                <br />
                <p>Đăng ký để nhận các ưu đãi độc quyền và cập nhật tin tức mới nhất từ TAT Apple!</p>
                <br />
                <p>Kết nối với TAT Apple:</p>
                <div class="icon-social-network-footer">
                    <!-- <%-- chèn link ig --%> -->
                    <a href="https://www.instagram.com/phanthang_04/">
                        <img src="https://www.digibox.com.vn/_nuxt/img/instagram.50f26cf.png"
                             alt="ig">
                    </a>
                    <!-- <%-- chèn link fb --%> -->
                    <a href="https://www.facebook.com/tn26052022/">
                        <img src="../assets/image/logo-fb-footer.png" alt="fb">
                    </a>
                </div>
                <img src="../assets/image/Da-thong-bao-bo-ct.png" style="width: 150px">
            </div>
        </div>
    </footer>
</body>
</html>