* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}
.container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1100px;
}
.illustration {
    flex: 2;
}
.illustration img {
    width: 100%;
}
.login-box {
    flex: 1;
    max-width: 400px;
    position: relative;
}
.login-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
}
.login-header h2 {
    font-size: 28px;
}
.login-header .register-link a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    text-decoration: underline;
}
.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 40px; /* Để chừa chỗ cho icon */
}

.input-group i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 14px;
}

.forgot-password {
    font-size: 14px;
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}
.btn-login {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}
.or {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    color: #666;
}

.or::before,
.or::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}

.btn-google, .btn-facebook {
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: white;
    margin-bottom: 10px;

}

.btn-google i {
    color: #db4437;
    margin-right: 10px;
    font-size: 14px;
}

.btn-facebook i {
    color: #1877f2;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 10px;
}
.btn-google:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    color: #1877f2;
    
}
.btn-facebook:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    color: #1877f2;
    
}
button img {
    margin-right: 10px;
}